<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div>
    <h1>Adopt a mighty creature</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="text-container">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1>Mighty creatures</h1>
    <%= link_to "Add a creature", new_creature_path, class: "btn-themed-orange" %>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-between flex-wrap">
      <% @creatures.each do |creature| %>
        <%= link_to creature_path(creature) do %>
        <div class="creature-card col-sm-6 col-md-4 mb-3">
        <img class="card-img-top" src="https://images4.fanpop.com/image/photos/20500000/DraGon-dragons-20577400-984-689.jpg" alt="Card image cap">
        <div class="card-body">
            <div class="creature-description name">
                <%= creature.name %>
            </div>
            <p class="creature-description age">
                Age: <%= creature.age %> years
            </p>
            <p class="creature-description ability">
                Ability: <%= creature.ability %>
            </p>
        </div>
        <div class="card-footer">
          <small class="creature-description">
              <%= creature.description %>
          </small>
        </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
