<div class="container py-5">
  <h2><%=@creature.name %></h2>
  <img src="https://source.unsplash.com/500x500/?<%= @creature.name %>, scary" alt="Card image cap" width="500" />
  <p><strong>Age: </strong><%= @creature.age %></p>
  <p><strong>Ability: </strong><%= @creature.ability %></p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, molestias. Laborum, nisi. Aliquid sunt porro molestiae, saepe quis quod accusamus distinctio accusantium eius ex facilis qui officia, nulla tenetur amet!</p>
  <%= link_to "Back", creatures_path %>
</div>
