
<div class="form-creature-container d-flex">
        <%= simple_form_for(@creature) do |f| %>
        <div class="form-creature-box">
<h2><%= "Edit a mighty creature!"%></h2>
            <%= f.input :name %>
            <%= f.input :age %>
            <%= f.input :ability %>
            <%= f.input :description %>
            <%= f.input :photo, as: :file %>
            <%= f.submit class: 'btn btn-primary'  %>
        </div>
        <% end %>
    <%= cl_image_tag @creature.photo.key, width: 500, class: 'img-display', crop: :fill %>
</div>
