<nav class="navbar navbar-expand-lg navbar-dark p-3 navbar-custom">
<div class="container-fluid">
  <%= link_to "ðŸ‰ Find your Mighty Creature", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class=" collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto ">
      <%= render "shared/searchbar"  %>
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link mx-2" %>
      </li>
      <li class="nav-item">
        <%= link_to "Creatures", creatures_path, class: "nav-link mx-2" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link mx-2" %>
      </li>
      <% if user_signed_in? %>
        <li  class="nav-item"><%= link_to "My profile", my_profile_path, class: "nav-link mx-2" %></li>
        <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link mx-2" %></li>
      <% else  %>
        <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link mx-2" %></li>
        <li class="nav-item"><%= link_to "Signup", new_user_registration_path, class: "nav-link mx-2" %></li>
      <% end %>
    </ul>
  </div>
</div>
</nav>
