
<div class="container">
    <header>
        <h4>My creatures</h4>
    </header>
    <div>
  </div>
  <div class="row">
    <div class="col index-col">
      <% @creatures.each do |creature| %>
        <%= link_to creature_path(creature), class:"link" do %>
          <div class="creature-card">
            <img class="card-img-top" src="https://source.unsplash.com/400x400/?<%= creature.name %>, scary" alt="Card image cap">
            <div class="card-body">
              <div class="creature-description name">
                <%= creature.name %>
              </div>
              <div class="creature-description age">
                <strong>Age: </strong><%= creature.age %> years
              </div>
              <div class="creature-description ability">
                <strong>Ability: </strong><%= creature.ability %>
              </div>
            </div>

            <div class="card-footer">
              <div class="creature-description">
                <%= creature.description %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
 
