<div class="cover">
  <div>
    <h1>My Profile</h1>
  </div>
</div>
<% flash.now[:notice] = params[:flash_notice] if params[:flash_notice] %>
<div class="text-container mt-4 mb-4">
  <div><h3>My creatures</h3></div>
  <div class="row">
    <% @creatures.each do |creature| %>
      <div class="col-sm d-flex justify-content-between d-flex flex-wrap">
        <div class="card co-12 col-sm-6 col-md-4 mb-3">
            <img class="card-img-top" src="https://source.unsplash.com/500x500/?<%= creature.name %>, scary" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">
                    <%= creature.name %>
                </h5>
                <p class="card-text">
                    <strong>Age: </strong>
                    <%= creature.age %>
                </p>
                <p class="card-text">
                    <strong>Ability: </strong>
                    <%= creature.ability %>
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <%= creature.description %>
                </small>
                <br>
                <br />
              <%= link_to "Details", creature_path(creature), class: "btn-themed-orange" %>
              <br>
              <br />
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
