<div class="cover">
  <div>
    <h1>My Profile</h1>
  </div>
</div>
<% flash.now[:notice] = params[:flash_notice] if params[:flash_notice] %>
<div class="text-container mt-4 mb-4">
  <div><h3>My creatures</h3></div>
  <div class="row">
    <div class="col index-col">
      <% @creatures.each do |creature| %>
        <%= link_to creature_path(creature), class:"link" do %>
          <div class="creature-card">
              <%= cl_image_tag creature.photo.key, height: 400, width: 400, class: 'card-img-top', crop: :fill %>
            <div class="card-body">
              <div class="creature-description name">
                <%= creature.name %>
              </div>
              <div class="creature-description">
                <strong>Age: </strong><%= creature.age %> years
              </div>
              <div class="creature-description">
                <strong>Ability: </strong><%= creature.ability %>
              </div>
            </div>
            <div class="card-footer">
              <%= creature.description %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
